@font-face {
  font-family: 'HelloStockholm';
  src: url('./components/fonts/HelloStockholm-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b;
  color: white;
  overflow-x: hidden;
}
npm h1,
h2 {
  color: #938eff;
}

/* .parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.815)),
    url(./data/hey.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .my-name {
  font-family: 'HelloStockholm', sans-serif;
  letter-spacing: 4px;
  line-height: 0;
  font-size: 50px;
} */

/* #main::after {
  position: absolute;
  right: 772px;
  content: '';
  width: 174px;
  height: 170px;
  top: 430px;
  z-index: -99;
  opacity: 0.09;
  background: url(./data/dottedgrid.svg);
} */

/* #main::before {
  position: absolute;
  right: 72px;
  content: '';
  width: 160px;
  height: 170px;
  top: 0px;
  z-index: -99;
  opacity: 0.4;
  background: url(./data/work.svg);
} */

#one .vine::after {
  position: absolute;
  left: -53px;
  content: '';
  width: 207px;
  height: 202px;
  top: 6px;
  z-index: -99;
  background: url(./data/vine.svg);
}

article h2 {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.brnone {
  border: none;
  text-decoration: none;
  color: black;
}
.brnone:hover {
  border: none;
  text-decoration: none;
  color: black;
}
article {
  -webkit-box-shadow: 5px 8px 9px 5px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 8px 9px 5px rgba(0, 0, 0, 0.54);
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
  padding: 0px !important;
  background-color: #181818ec !important;
}
article:hover {
  transform: scale(1);
}

article h2 {
  padding: 7px 0px 0px 0px !important;
}

article p {
  padding: 0px 5px !important;
}
article span {
  padding: 10px 10px !important;
}
/* .hovereffect {
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}
.hovereffect:hover {
  transform: scale(1.02);
} */

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.aboutme span {
  width: 50%;
}
.aboutme img {
  width: 50%;
}

.btn-outline-primary {
  color: #6c63ff;
  border-color: #6c63ff;
}

#one {
  position: relative;
}

#one h1 {
  position: absolute;
  width: 0px !important;
  color: #6b63ff9a;
  opacity: 0.1;
  font-family: 'HelloStockholm', sans-serif;
  letter-spacing: 4px;
}
#one .usman {
  top: -36px;
  left: 145px;
  transform: rotate(-4deg);
  font-size: 215px !important;
  font-weight: lighter;
}

#one .webdev {
  top: 229px;
  left: 257px;
  transform: rotate(0deg);
  font-size: 123px !important;
}

.portfolio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(1deg); */
}

.portfolio h2 {
  font-family: 'HelloStockholm', sans-serif;
  /* position: relative;
  width: 0px;
  top: -58px;
  left: -31px;
  z-index: 1; */
  font-size: 93px;
  line-height: 0.9;
  letter-spacing: 4px;
  color: #6c63ff;
}

.portfolio h1 {
  position: relative;
  width: 0px;
  color: #6c63ff;
  opacity: 0.1;
  font-size: 25px !important;
}
.portfolio .react {
  top: -75px;
  left: -223px;
  transform: rotate(-3deg);
}

.portfolio .node {
  top: 62px;
  left: -163px;
  transform: rotate(-2deg);
}

.portfolio .express {
  top: -40px;
  left: 376px;
  transform: rotate(-4deg);
}

.portfolio .mongodb {
  top: 70px;
  left: 360px;
  transform: rotate(-1deg);
}

@media only screen and (max-width: 600px) {
  /* .aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */

  #one h1 {
    display: none;
  }

  .portfolio {
    transform: rotate(0deg);
  }
  .portfolio h1 {
    display: none;
  }
  /* .portfolio h2 {
    padding-top: 20px;
  } */

  .portfolio img {
    display: none;
  }

  .aboutme span {
    width: 70%;
  }
  .aboutme img {
    display: none;
  }
  #one .vine::after {
    display: none;
  }
}
